/* Small devices (tablets, 768px and up) */
@media (max-width: 560px) {

    .download{
        height: 560px;

        .apple{
            height: 40px;
            width: 290px;
            margin: 0 115px;
        }

        .download-text{
            padding-top: 30px;


            h1{
                font-weight: 300;
                font-size: 30px;
                color: #505050;
            }

            p{
                font-size: 16px;
                color: #505050;
                padding: 0;
                text-align: justify;
                line-height: 18px;
            }

            input{
                box-sizing: border-box;
                width: 320px;
                height: 40px;
                padding: 10px 20px;
                border: 0;
                float: left;
                font-size: 15px;
            }

            button{
                font-weight: bold;
                border: solid 2px #9d9d9d;
                color: #9d9d9d;
                cursor: default;
                background-color: transparent;
                background: 0;
                width: 120px;
                height: 40px;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: bold;
                margin-left: 10px;
                overflow: hidden;
            }
        }
    }

    .cellphones{
        // position: absolute;
        bottom: 50px;
        z-index: 10;
        padding: 0 115px;

    }

    .android{
        float: left;
        width: 180px;
        height: 325px;
        margin-right: -25px;
    }

    .iphone{
        float: right;
        width: 167px;
        height: 324px;
        margin-top: 15px;
        margin-left: -15px;

    }
}


@media (min-width: 561px) and (max-width: 950px) {

    .download{
        .cellphones{
            // position: absolute;
            bottom: 50px;
            z-index: 10;
            padding: 0 80px;

        }

        .android{
            float: left;
            width: 180px;
            height: 325px;
            margin-right: -25px;
        }

        .iphone{
            float: right;
            width: 167px;
            height: 324px;
            margin-top: 15px;
            margin-left: -15px;

        }
    }
}
